In [19]:
import pandas as pd
import numpy as np
from sklearn.linear_model import LogisticRegression
from sklearn.model_selection import train_test_split as tts
from sklearn.preprocessing import PolynomialFeatures
from sklearn.linear_model import LinearRegression
from sklearn import metrics
import seaborn as sb

**PolynomialFeatures**

In [5]:
estate = pd.read_csv('Real estate.csv')
x = estate.drop('Y house price of unit area', axis = 1)
y = estate['Y house price of unit area']
#sb.heatmap(estate.corr() , annot = True , cmap = 'YlGnBu')

In [7]:
#sb.pairplot(estate)

In [9]:
poly_conv = PolynomialFeatures(degree = 2 , include_bias = False)
poly_features = poly_conv.fit_transform(x)

In [11]:
X_train , X_test , y_train , y_test = tts(poly_features , y , test_size = 0.33 , shuffle = False)

In [13]:
poly_reg = LinearRegression()
poly_reg.fit(X_train , y_train)
y_pred = poly_reg.predict(X_test)

In [15]:
pd.DataFrame({'Y_test': y_test , 'Y_pred': y_pred , 'Residuls':(y_test-y_pred)}).head()

     Y_test     Y_pred   Residuls
277    27.7  23.713161   3.986839
278    44.0  47.250506  -3.250506
279    31.1  40.571639  -9.471639
280    45.4  53.900642  -8.500642
281    44.8  55.305631 -10.505631

In [21]:
mae = metrics.mean_absolute_error(y_pred , y_test)
mse = metrics.mean_squared_error(y_pred , y_test)
rmse = np.sqrt(mse)

In [35]:
pd.DataFrame([mae , mse , rmse] , index=['MAE' , 'MSE' , 'RMSE'] , columns=['Metrics'])

        Metrics
MAE    5.923736
MSE   60.110746
RMSE   7.753112